button {
    margin-top: 5px;
    padding-left: 10.5px;
    padding-right: 10.5px;
    height: 27px;
    border-radius: 13.5px;
}
button.black {
    color: #000;
    border: 3px solid #000;
}
button.black:hover {
    color: #000;
    background-color: #fff;
    border: 3px solid #000;
    cursor: help;
}

li {
    word-break: break-all;
}
li a {
    cursor: copy;
}