* {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: calc(100% - 50px);
    float: left;
}
#bu_c {
    float: left;
    margin-top: 0;
    margin-left: 5px;
    padding: 0;
    border-radius: 18px;
    width: 36px;
    height: 36px;
}
.cross{
    width: 30px;
    height: 30px;
}
.cross .lr,
.cross .rl {
    position: absolute;
    margin-top: 5px;
    height: 20px;
    width: 3px;
    border-radius: 1.5px;
    background-color: #6699cc;
    transform-origin: center;
    margin-left: 13.5px;
    transition: 0.5s;
}
.cross .lr{
    transform: rotate(-45deg);
}
.cross .rl{
    transform: rotate(45deg);
}
#bu_c:hover .cross .lr,
#bu_c:hover .cross .rl {
    background-color: #fff;
    margin-top: 2.5px;
    height: 25px;
}
#bu_c:hover .cross .lr{
    transform: rotate(-135deg);
}
#bu_c:hover .cross .rl{
    transform: rotate(135deg);
}

button {
    margin-top: 5px;
    padding-left: 10.5px;
    padding-right: 10.5px;
    height: 27px;
    border-radius: 13.5px;
}
button.black {
    color: #000;
    border: 3px solid #000;
}
button.black:hover {
    color: #000;
    background-color: #fff;
    border: 3px solid #000;
    cursor: help;
}

li {
    word-break: break-all;
}
li a {
    cursor: copy;
}

#h3_3 {
    margin-bottom: 0;
}
/* #sp_2 {
    margin-right: 5px;
} */
#p_1 {
    margin-top: 5px;
    margin-bottom: 0;
}

.sel {
    position: relative;
    display: inline-block;
}
select {
    margin-left: 0;
    padding-left: 10.5px;
    padding-right: 29px;
    height: 27px;
    border-radius: 13.5px;
    border: 3px solid #6699cc;
    color: #6699cc;
    background-color: #fff;
    line-height: 21px;
    cursor: pointer;
    appearance: none;
    display: inline-block;
    text-align-last:center;
}
.sel:after {
    content:"▼";
    position: absolute;
    color: #69c;
    line-height: 27px;
    font-size: 14px;
    right: 10px;
    text-align: center;
}